@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
}

header{
    margin: 0%;
    width: 100%;
    background: #283148;
    color: #ECE9E6;
    top: 0;
    position: sticky;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    transition: all ease 500ms;
    display: inline-flex;
    line-height: 10vh;
    align-items: center;
    vertical-align: middle;
    z-index: 10;
}

#logo{
    width: 40%;
    float: left;
    font-size: 2.5vw;
}

#logo i{
    float: left;
    font-size: 4vw;
}

nav{
    width: 60%;
    float: left;
}

.noLinea{
    text-decoration: none;
}

ul{
    list-style: none;
}

ul li{
    width: 20%;
    float: left;
    position: relative;
    text-align: center;
    transition: all ease 500ms;
}

ul li:hover{
    transition: all ease 500ms;
    background: #171d2e;
}

li > a{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: #ECE9E6;
}

nav ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
    background: #283148;
}

nav ul ul li{
    float: none;
    text-align: center;
    width: 100%;
}

nav ul li:hover > ul {
    transition: all ease 2s;
    display:block;
}

aside{
    width: 25%;
    position: fixed;
}

.contenido{
    margin: 0;
    margin-left: 25%;
    width: 65%;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 0.9;
    border-radius: 5px;
    color: #EEEEEE;
}

section{
    padding: 3vw 5%;
}

#yo{
    background: #26C281;
}

#temasInteres{
    background: #3b539b;
}

#estudios{
    background: #913535;
}

#hobbies{
    background: #393e46;
}

#metas{
    background: #bbbbbb;
}

h2{
    margin-top: 0;
    text-align: center;
    font-size: 5vw;
}

a{
    color: #00adb5;
}
